* {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

/* common */
a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    margin: 36px 135px 0;
    width: 1170px;
    display: flex;
    align-items: center;
    background: #fffcf4;
}

.sub-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.navigation ul {
    display: flex;
}

.navigation li a {
    margin-left: 42px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.sub-nav .btn {
    margin-left: 70px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    background: #171100;
    border-radius: 24.5px;
    padding: 11px 41px;
}
